<h1>Your ToDo list</h1>

<div ng-app="app">
    {{ 2 + 2 }}
  <div ng-controller="stuffCtrl" ng-init="setup()">
    <div id="tasks">
    <h2>Tasks:</h2>
        <div>
            <input type="text" ng-model="filterTask">
            <button ng-click="completedAttribute('true')">Completed</button>
            <button ng-click="completedAttribute('false')">Remaining</button>
        </div>
    <li ng-repeat="task in tasks | filter: {completed: attribute }", ng-click="completeTask(task)", ng-class="{strike: task.completed}">
      {{ task.text }}
    </li>

    <h2>Add a task:</h2>
    <input type="text", ng-model="newTask">
    <button ng-click="addTask(newTask)">Add task</button>

    <h3>Tasks remaining: {{ remainingTasks() }}</h3>
    <button ng-click="clearCompleted()">Clear Completed Tasks</button>
  </div>
</div>